<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Отправка сообщения</title>
</head>
<body>

    {% if message_name %}
        <center>
            <h2>Спасибо, {{ message_name }}!</h2>
            <p>Мы получили ваше сообщение и ответим в ближайшее время на ваш email {{ message_email }}...</p>
        </center>
    {% else %}

        <!-- Contact Form -->
        <h1>Отправка сообщения</h1>
        <form action="/contact/contact_form/" method="post">
            {% csrf_token %}
            <p> Имя: <input type="text" name="message-name" placeholder="Ваше имя" /></p>
            <p>Ваш email: <input type="email" name="message-email" placeholder="Ваш email" /></p>
            <p>Сообщение: <textarea name="message" rows="10" cols="50"  placeholder="Ваше сообщение"></textarea></p>
            <input type="submit"  value="Отправить" />
        </form>

    {% endif %}
</body>
</html>